body {
  color:#000;
  padding:25px;
  margin:10px;
  -webkit-columns: 300px 2;
     -moz-columns: 300px 2;
          columns: 300px 2;
}

#section {
  background-color:red;
}

#section a {
  color:green;
}
